<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  

<!-- mapper映射工作空间 -->
<mapper namespace="com.fruitsalesplatform.mapper.ContractMapper.xml">
	<!-- Sql片段,便于重复使用 -->
	<sql id="query_commodities_where">
		<!-- 动态SQL语句 -->
		<if test="barcode!=null">and barcode like #{barcode}</if>
		<if test="type!=null">and type like #{type}</if>
		<if test="endPrice!=null">
			<![CDATA[
				and price<=#{endPrice,jdbcType=NUMERIC}
			]]>
		</if>
		<if test="createtime!=null">
			<!-- 解决sql出现"<"、">"运算符 -->
			 to_timestamp(#{createtime},'YYYY-MM-DD HH24:MI:SS')
			<![CDATA[
				and createtime=to_timestamp(#{createtime},'YYYY-MM-DD HH24:MI:SS')
			]]>
		</if>
		<if test="startTime!=null">
			<![CDATA[
				and createtime>=to_timestamp(#{startTime},'YYYY-MM-DD HH24:MI:SS')
			]]>
			
		</if>
		<if test="endTime!=null">
			<![CDATA[
				and createtime<=to_timestamp(#{endTime},'YYYY-MM-DD HH24:MI:SS')
			]]>
		</if>
	</sql>
	
	<!-- resultMap:输出映射 -->
	<resultMap id="contractVoRM" type="com.fruitsalesplatform.entity.ContractVo">
		<!-- pk映射 -->
		<id property="contractid" column="contractid" jdbcType="VARCHAR"/>
		<!-- 一般属性 -->
		<result property="barcode" column="barcode" jdbcType="VARCHAR"/>
		<result property="type" column="type" jdbcType="VARCHAR"/>
		<result property="retailerName" column="retailerName" jdbcType="VARCHAR"/>
		<result property="createtime" column="createtime" />
	</resultMap>
		
	<!-- 根据map查询数据,多条件查询 -->
    <select id="find" 
    		parameterType="map" 
    		resultMap="accessoryRM">  
    	select * from accessory WHERE 1=1
    	<!-- 引入sql片段 -->
    	<include refid="query_commodities_where"></include>
    	<if test="fruitid!=null">
    		and fruitid=#{fruitid,jdbcType=VARCHAR}
    	</if>
    	<!-- 分页数据条件 -->
    	<if test="pageSize!=null and offset!=null">
    		limit #{pageSize,javaType=int,jdbcType=INTEGER} offset #{offset,javaType=int,jdbcType=INTEGER}
    	</if>
    </select> 
	
	<!-- 统计数量查询 -->
    <select id="count" 
    		parameterType="map" 
    		resultType="int">  
    	select count(*) from accessory where 1=1
    	<!-- 引入sql片段 -->
    	<include refid="query_commodities_where"></include>
    </select> 
	
	
	<!-- 根据id查询数据 -->
    <select id="get" 
    		parameterType="string" 
    		resultMap="accessoryRM">  
    	select * from accessory WHERE accessoryid=#{id,jdbcType=VARCHAR};
    </select> 
	
	<!-- 插入一条数据,使用to_timestamp()时间转换函数-->
	<insert id="insert" parameterType="com.fruitsalesplatform.entity.Accessory">
		insert into accessory 
		(accessoryid,fruitid,name,price,createtime) 
		values
		(
		 #{accessoryid,jdbcType=VARCHAR},
		 #{fruitid,jdbcType=VARCHAR},
		 #{name,jdbcType=VARCHAR},
		 #{price,jdbcType=NUMERIC},
		 to_timestamp(#{createtime},'YYYY-MM-DD HH24:MI:SS')
		)
	</insert>
	
	<!-- 数据更新,update -->
	<update id="update" parameterType="com.fruitsalesplatform.entity.Accessory">
		update accessory
		<set>
			<if test="name!=null">name=#{name,jdbcType=NUMERIC},</if>
			<if test="price!=null">price=#{price,jdbcType=VARCHAR},</if>
		</set>
		where accessoryid=#{accessoryid,jdbcType=VARCHAR}
	</update>
	
	<!-- 根据id删除单条数据 -->
	<delete id="deleteById" parameterType="string">
		delete from accessory where accessoryid=#{id}
	</delete>
	
	<!-- 删除多条数据,一维字符串你数组的形式 -->
	<delete id="delete" parameterType="string">
		delete from accessory where accessoryid in
		<!-- 动态sql，open=""：指定开头字符串，close=""：指定结尾字符串，结果:("item1","item2")-->
		<foreach collection="array" item="accessoryid" open="(" separator="," close=")" >
			#{accessoryid}
		</foreach>
	</delete>
	
</mapper> 